body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

section p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.widget {
  background: linear-gradient(to bottom right, #e4f4ff, #fff);
  border-radius: 2px 2px 14px 14px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  width: 540px;
}

.enter,
.search,
.current {
  border: 1px solid #a3d4f7;
}

.enter {
  border-bottom-left-radius: 0;
  height: 56px;
  padding: 26px 0 26px 16px;
}

.search,
.current {
  background: #ffefe4;
  color: #646464;
  min-width: 90px;
  width: 85px;
}

.current {
  border-bottom-right-radius: 0;
}

.search:hover,
.current:hover {
  background: #ffe0cb;
  border: 1px solid #84acc9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.current-weather {
  padding: 20px 15px 20px 15px;
}

.temp-box {
  background: #fff;
  border-radius: 4px 4px 10px 10px;
  box-shadow: 4px 4px 4px rgba(71, 29, 29, 0.05);
  padding: 10px 10px 14px 14px;
}

.icon-display {
  margin: 4px 0 0 12px;
  width: 68px;
}

.temp-box h1 {
  font-size: 50px;
}

hr {
  margin: 0;
}

.location-display {
  font-size: 28px;
  padding-top: 18px;
  text-align: right;
}

.date-time {
  font-size: 20px;
  font-weight: 300;
  text-align: right;
}

#description {
  font-size: 18px;
  font-weight: 300;
  text-align: right;
}

.extra-info {
  padding: 5px 0 0 14px;
  font-size: 16px;
}

.forecast-box-display {
  background: #e4f4ffe3;
  border: 1px solid #fefefe;
  border-radius: 14px;
  padding: 5px 5px 0 5px;
  text-align: center;
}

.future-numbers {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#forecast-min {
  color: #646464;
}

.future-icon {
  margin-bottom: 5px;
}

.credit {
  padding-top: 6px;
  position: relative;
  left: 28px;
}

.credit p {
  display: inline;
}
