body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.temp-box h1 {
  font-size: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.measurement-links {
  margin: 0;
  text-align: center;
}

ul .measurement {
  color: #646464;
  display: inline-block;
  font-size: 14px;
  padding: 0 24px 0 24px;
}

hr {
  margin: 0;
}

p {
  margin: 0;
  font-size: 18px;
}

button {
  width: 85px;
}

.widget {
  background: linear-gradient(to bottom right, #e4f4ff, #fff);
  border-radius: 2px 2px 20px 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  max-width: 600px;
}

.form-control {
  border-bottom-left-radius: 0;
  line-height: 2.4em;
}

.search {
  background: #888888a1;
  color: #fff;
}

.current {
  border-bottom-right-radius: 0;

  background: #fff0b3;
  color: #646464;
}

.current-weather {
  padding: 20px 15px 20px 15px;
}

.temp-box {
  background: #fff;
  border-radius: 2px 2px 10px 10px;
  box-shadow: 4px 4px 4px rgba(71, 29, 29, 0.05);
  padding: 10px;
}

.location-display {
  padding-top: 18px;
  text-align: right;
}

.date-time {
  font-size: 24px;
  font-weight: 300;
  text-align: right;
}

.extra-info {
  padding: 5px 0 0 10px;
  font-size: 16px;
}
